<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= locals.title %></title>

    <style>
      html {
        color-scheme: dark;
      }

      body {
        color: #eee;
        font-size: 1.123rem;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;
        line-height: 1.5;
      }

      .table-wrapper {
        width: min(1200px, 100% - 3rem);
        margin-inline: auto;
      }

      /* .table-container {
        max-width: 100%;
        overflow: scroll;
      } */

      table {
        border-collapse: collapse;
        background-color: #323232;
      }

      caption,
      th,
      td {
        padding: 1.4rem;
      }

      caption,
      th {
        text-align: start;
      }

      caption {
        background: hsl(0 0% 0%);
        font-size: 1.5rem;
        font-weight: bold;
        text-transform: uppercase;
      }

      th {
        background: hsl(0 0% 0% / 0.5);
      }

      tr:nth-of-type(2n) {
        background: hsl(0 0% 0% / 0.05);
      }

      img {
        max-width: 50%;
        max-height: 200px;
        display: block;
      }

      @media (max-width: 650px) {
        th {
          display: none;
        }
        td {
          display: grid;
          grid-template-columns: 17ch auto;
          gap: 0.5rem;
          padding: 0.75rem 1rem;
        }
        td:first-child {
          padding-top: 2rem;
        }
        td:last-child {
          padding-bottom: 2rem;
        }

        td::before {
          content: attr(data-cell) ": ";
          font-weight: 700;
          text-transform: capitalize;
        }
      }
      .page-button {
        margin: 2rem 0.5rem 2rem 0;
        padding: 0.35em 1.5em;
        font-size: 1.6rem;
      }
    </style>
  </head>
  <body>
    <main>
      <div class="table-wrapper">
        <h1>Dashboard</h1>
        <table>
          <caption>
            Cihan Metricwire Form Submissions
          </caption>
          <tr>
            <th>Name</th>
            <th>Company</th>
            <th>Contact</th>
            <th>Title</th>
            <th>Caption</th>
            <th>Source</th>
            <th>Files</th>
          </tr>
          <% cihanMetricwireMessages.forEach(function(data){ %>
          <tr>
            <td data-cell="name"><%= data.name %></td>
            <td data-cell="email"><%=data.company%></td>
            <td data-cell="message"><%=data.contact%></td>
            <td data-cell="message"><%=data.title%></td>
            <td data-cell="message"><%=data.caption%></td>
            <td data-cell="message"><%=data.source%></td>
            <td>
              <% if(data.uploadedDocumentInfo.mimetype === 'image/jpeg') { %>
              <img
                src="<%= 'uploadFiles/' + data.uploadedDocumentInfo.filename %>"
                alt=""
                class="td-image"
              />

              <% } else if(data.uploadedDocumentInfo.mimetype ===
              'application/pdf') { %>
              <object
                data="<%= 'uploadFiles/' + data.uploadedDocumentInfo.filename %>"
                type="application/pdf"
                class="td-image"
              >
                <p>
                  Unable to display PDF file.
                  <a
                    href="<%= 'uploadFiles/' + data.uploadedDocumentInfo.filename %>"
                    >Download</a
                  >
                  instead.
                </p>
              </object>
              <% } %>
            </td>
          </tr>
          <% }); %>
        </table>
      </div>
      <!-- not working check -->
    </main>
  </body>
</html>
